$primary: #2196f3;
$primary-dark: #1565c0;

$question-color-light: #a5d6a7;
$question-color-dark: #55cf59;
$resource-color-light: #d1c4e9;
$resource-color-dark: #aa87eb;

$admin-type: #a5d6a7;
$admin-type-dark: #4caf50;
$student-type: #ffab91;
$student-type-dark: #f4511e;

$success-color-dark: #43a047;
$success-color-light: #81c784;

$failure-color-dark: #e53935;
$failure-color-light: #e57373;

$light-border: #d3d3d3;
$hover-shadow: #d4d4d4;
$light-color: white;
$light-text: grey;
$dark-text: black;
$body-bg: #f4f4f4;
$progress-bg: #00000050;
$pending-color: orange;