$primary: #2196f3;
$primary-dark: #1565c0;

$question-color-light: #a5d6a7;
$question-color-dark: #55cf59;
$resource-color-light: #d1c4e9;
$resource-color-dark: #aa87eb;
$ask-resource-color-light: #9fa8da;
$ask-resource-color-dark: #7986cb;

$admin-type: #a5d6a7;
$admin-type-dark: #4caf50;
$student-type: #ffab91;
$student-type-dark: #f4511e;

$success-color-dark: #43a047;
$success-color-light: #81c784;

$failure-color-dark: #e53935;
$failure-color-light: #e57373;

$light-border: #e7e7e7;
$hover-shadow: #ebebeb;
$light-color: white;
$light-text: grey;
$dark-text: #3b3b3b;
$body-bg: #F3F5F7;
$progress-bg: #00000050;
$pending-color: orange;


// QUOTE STATUS COLORS

$placed-color: #b39ddb;
$replied-color: #90caf9;
$accepted-color: #a5d6a7;
$rejected-color: #ef9a9a;


// JOB STATUS COLORS
$new-job: #D7CCC8;
$ip-job: #B2EBF2;
$delivered-job: #C8E6C9;
$paid-job: #A5D6A7;
$completed-job: #81C784;
$disputed-job: #E57373;
$cancelled-job: #EF9A9A;


// REPORT STATUS COLORS
$report-cleared: #81c784;
$report-deactivated: #e57373;
$report-reported: #ba68c8;