
$primary: #2196f3;
$primary-dark: #1565c0;

$question-color-light: #a5d6a7;
$question-color-dark: #55cf59;
$resource-color-light: #d1c4e9;
$resource-color-dark: #aa87eb;

$admin-type: #a5d6a7;
$admin-type-dark: #4caf50;
$student-type: #ffab91;
$student-type-dark: #f4511e;