@import "../public/styles/colors.scss";

$header-height: 70px;

$card-shadow: 0px 0px 10px 5px $light-border;

$small-shadow: 0px 0px 5px $light-border;

body {
    height: 100vh;
    background: $body-bg;
}

.header {
    padding: 15px;
    position: absolute;
    float: right;
    right: 10px;
    z-index: 100;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-items: center;
    }

    .header-icon-wrapper {
        background-color: white;
        padding: 8px;
        border-radius: 50%;
        color: grey;
        height: 40px;
        box-shadow: 0px 0px 10px #d6d6d6;
        width: 40px;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        cursor: pointer;
    }

    .header-icon-wrapper:hover {
        box-shadow: 0px 0px 20px #b4b4b4;
        transition-duration: 300ms;
    }

    a.menu-item {
        color: $light-color;
        padding: 15px;
        font-weight: bold;
    }

    img.logo {
        width: 30px;
        height: 30px;
    }

    .p-menubar {
        background: none;
        border: none;

        .p-menuitem > .p-menuitem-link {
            margin-right: 10px;
            border: 1px solid $light-color;
            border-radius: 20px;

            .p-menuitem-text,
            .p-menuitem-icon {
                color: $light-color;
            }
        }
    }
}

.p-float-label input.p-filled ~ label,
.p-float-label select.p-filled ~ label {
    top: -0.75rem;
    font-size: 12px;
}

.main-app-content {
    padding-top: 100px;
    padding-bottom: 30px;
}

.App {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.mt-30 {
    margin-top: 30px;
}

.primary-button {
    background-color: $primary;
}

.a-center {
    align-items: center;
}

.j-sp-between {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
    align-items: center;
}

.a-i-start {
    align-items: flex-start;
}

.form-group {
    margin-bottom: 2rem;
}

.app-card {
    background: $light-color;
    box-shadow: $card-shadow;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.quiz-card {
    background: $light-color;
    box-shadow: $card-shadow;
    padding-top: 0px;
    border-radius: 10px;
    margin-bottom: 20px;

    .quiz-card-header {
        text-align: left;
        font-size: large;
        font-weight: bold;
        background-color: $primary;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 20px 10px;
    }

    .question-statement {
        font-size: medium;
        font-weight: 600;
    }

    .quiz-card-content {
        padding: 20px;
    }

    .question-option-select {
        padding: 15px 15px;
        border: 1px solid #cecece;
        margin-bottom: 10px;
        cursor: pointer;
        border-radius: 10px;
    }

    .question-option-select.selected {
        background-color: $progress-bg;
        color: $light-color;
    }
}

.quiz-info-card {
    padding: 0;
    background: $light-color;
    box-shadow: $card-shadow;
    border-radius: 5px;
    margin-bottom: 20px;

    .quiz-gen-content {
        padding: 50px 30px;
        text-align: left;

        .quiz-description {
            font-size: large;
            color: $dark-text;
            font-weight: 400;
        }
    }

    .quiz-uploader {
        font-size: large;
        p {
            margin-top: 10px;
            z-index: 5;
            font-size: large;
        }

        i {
            font-size: large;
            margin-right: 10px;
        }
    }
}

.quiz-gen-image img {
    width: 100%;
}

.quiz-results {
    padding-top: 50px;
    padding-bottom: 50px;
    i {
        font-size: xx-large;
        font-weight: bold;
        margin-bottom: 30px;
        color: $question-color-dark;
    }
}

.chat-sidebar-wrapper {
    background-color: white;
    border-radius: 5px;
    box-shadow: $card-shadow;
    padding-right: 0px;
}

.chat-sidebar {
    height: 70vh;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    .recent-chat-item {
        padding: 10px 5px;
        text-align: left;
        align-items: center;

        img {
            width: 100%;
        }

        .last-message {
            color: grey;
            font-size: small;
        }

        hr {
            margin-bottom: 0px;
            margin-top: 10px;
            color: $light-border;
        }
    }

    .recent-chat-item.unread {
        font-weight: bold;
        font-size: large;
    }
}

.chat-window {
    background-color: white;
    border-radius: 5px;
    box-shadow: $card-shadow;
    height: 70vh;

    .chat-window-header {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        border-bottom: 1px $light-border solid;
        justify-content: space-between;
        height: 15%;

        .chat-header-actions {
            i {
                font-size: large;
                color: $dark-text;
                font-weight: bold;
            }

            i.block-icon {
                color: $failure-color-light;
            }
        }

        .chat-user-info {
            display: flex;
            align-items: center;
            img {
                height: 40px;
                width: 40px;
                margin-right: 20px;
            }
        }
    }

    .chat-messages-window {
        height: 75%;
        display: flex;
        align-items: flex-end;

        .messages-wrapper {
            padding: 10px;
            width: 100%;
            max-height: 100%;
            overflow-y: scroll;

            .single-message {
                padding: 10px 15px;
                border-radius: 30px;
                margin-bottom: 10px;
                clear: both;
                max-width: 70%;
            }

            .single-message.own {
                background-color: $primary;
                float: right;
                color: white;
            }

            .single-message.other {
                background-color: rgb(226, 226, 226);
                float: left;
            }
        }
    }

    .chat-send-message-window {
        height: 10%;
        padding: 0;
        // position: absolute;
        vertical-align: bottom;
        bottom: 0;
        input {
            height: 40px;
            display: inline-block;
            margin: 0;
            width: 85%;
            margin-right: 2%;
            border: 1px solid rgb(192, 192, 192);
            border-radius: 30px;
            padding: 5px 10px;
        }

        button {
            height: 40px;
            display: inline-block;
            border-radius: 50%;
            background-color: $primary;
            border: 0px;
            width: 35px;
            height: 35px;
            color: white;
        }
    }
}

.form-card {
    background: $light-color;
    box-shadow: $card-shadow;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.single-post-wrapper {
    .post-card:hover {
        cursor: pointer;
        transition-duration: 300ms;
        box-shadow: 0px 0px 10px 10px $hover-shadow;
    }

    margin-top: 20px;

    .user-image {
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    .post-card {
        box-shadow: $card-shadow;
        border-radius: 5px;
        background: $light-color;
    }

    .post-bottom-section {
        // border-top: 1px #dfdfdf solid;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 20px;

        .post-numbers-wrapper {
            display: flex;
        }

        .upvotes-count:hover,
        .replies-count:hover,
        .options-div:hover {
            p {
                color: $primary;
                transition-duration: 500ms;
            }

            cursor: pointer;
            box-shadow: $card-shadow;
            transition-duration: 200ms;
        }

        .upvotes-count,
        .replies-count,
        .options-div {
            padding: 10px 15px;
            border-radius: 5px;
            box-shadow: $small-shadow;
            display: inline-block;

            i {
                margin-right: 5px;
                font-size: small;
            }

            p {
                color: darkslate$light-text;
                font-size: small;
            }
        }

        .replies-count,
        .options-div {
            margin-left: 20px;
        }
    }

    .post-content {
        padding: 5px 20px;

        .post-title {
            font-weight: bold;
        }
    }

    .post-top-section {
        padding: 10px 20px;

        .post-user {
            margin-left: 20px;

            .post-username {
                font-weight: 500;
            }
        }

        .post-meta {
            font-size: small;
            padding: 0px;
            color: $light-text;
        }

        .post-type {
            padding: 3px 10px;
            border-radius: 10px;
            color: $light-color;
        }

        .post-type.question {
            color: $question-color-light;
        }

        .post-type.resource {
            color: $resource-color-light;
        }
    }

    p {
        text-align: left;
        margin: 0px;
    }
}

.p-overlaypanel .p-overlaypanel-content {
    padding: 3px;
}

.options-overlay-div {
    p {
        margin-bottom: 0px;
        padding: 10px 15px;
        cursor: pointer;
        i {
            margin-right: 10px;
        }
    }

    .delete-option {
        color: $failure-color-light;
    }
    .edit-option {
        color: $primary;
    }

    hr {
        margin: 0px;
        height: 1px;
    }
}
.scholarship-component {
    .card-heading {
        font-size: larger;
        font-weight: bold;
    }

    .filter-form {
        padding-top: 20px;
    }

    .scholarship-filter-card {
        background: $light-color;
        box-shadow: $card-shadow;
        border-radius: 5px;
        display: block;
        padding: 20px;
    }

    .country-filter {
        .p-dropdown {
            width: 100%;
            text-align: left;
        }
    }

    a {
        text-decoration: none;
    }
}

.single-scholarship-wrapper {
    margin-bottom: 20px;

    .scholarship-card {
        background: $light-color;
        padding: 20px;
        box-shadow: $card-shadow;
        border-radius: 5px;
    }

    .scholarship-card:hover {
        box-shadow: 0px 0px 10px 10px $hover-shadow;
        transition-duration: 300ms;
    }

    .provider-logo {
        max-width: 100px;
        max-height: 100px;
    }

    .scholarship-title {
        font-size: larger;
        font-weight: bold;
    }

    .scholarship-subtitle {
        color: $light-text;
    }

    p {
        margin: 5px;
        color: $dark-text;
        text-decoration: unset;
    }

    .scholarship-description {
        font-size: small;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .features-wrapper {
        text-align: left;
    }

    .date-wrapper,
    .amount-wrapper,
    .level-wrapper {
        margin-top: 10px;
        display: inline-block;
        padding: 0px 5px;
        border-radius: 20px;
        box-shadow: $small-shadow;
        margin-right: 10px;
    }
}

.post-feed-component {
    .add-post-card {
        box-shadow: $card-shadow;
        border-radius: 5px;
        background: $light-color;
    }

    .add-post-div {
        display: inline-block;
        padding: 30px;
        width: 50%;

        p {
            margin: 0;
        }
    }

    .add-post.main-text {
        font-weight: bold;
        font-size: large;
    }

    .add-post.main-text.question {
        color: $question-color-dark;
    }

    .add-post.main-text.resource {
        color: $resource-color-dark;
    }

    .add-post-div:hover {
        color: $light-color;
        cursor: pointer;
        transition-duration: 200ms;
    }

    .add-post-div.add-question:hover {
        .add-post.main-text.question {
            transition-duration: 200ms;
            color: $light-color;
        }

        box-shadow: 0px 0px 5px 3px $question-color-light;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: $question-color-dark;
    }

    .add-post-div.add-resource:hover {
        .add-post.main-text.resource {
            transition-duration: 200ms;
            color: $light-color;
        }

        box-shadow: 0px 0px 5px 3px $resource-color-light;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $resource-color-dark;
    }

    .add-post.subtext {
        font-size: small;
    }

    .add-post-div.add-question {
        border-right: 1px $light-border solid;
    }

    .post-feed-wrapper {
        padding-bottom: 30px;
    }

    .load-more-card {
        padding: 10px;
        background-color: $light-color;
        box-shadow: $card-shadow;
        margin-bottom: 30px;
        border-radius: 5px;
        cursor: pointer;

        .load-more {
            text-align: center;
            margin: 0;
            font-weight: bold;

            i {
                margin-right: 10px;
            }
        }
    }

    .load-more-card:hover {
        box-shadow: $hover-shadow;
    }
}

.profile-page-content {
    .heading-wrapper {
        font-size: larger;
        font-weight: bold;
        color: $dark-text;

        i {
            margin-right: 10px;
        }
    }

    .profile-form,
    .contact-form {
        padding-top: 30px;

        .p-inputwrapper {
            width: 100%;
        }

        .p-inputtext {
            width: 100%;
        }
    }

    .applied-success-message {
        color: $success-color-dark;
        font-weight: bold;
        font-size: small;

        .applied-message-icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        i {
            font-size: x-large;
        }
    }

    .profile-image {
        width: 100%;
        border-radius: 50%;
        max-height: 120px;
    }

    .attachment-input {
        position: relative;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .upload-attachment-wrapper {
        padding: 20px;
        width: 100%;
        border: 1px solid $light-border;
        height: auto;
        text-align: center;
        border-radius: 5px;

        i {
            margin-right: 20px;
        }

        p {
            text-align: center;
            font-weight: bold;
            color: $light-text;
            padding: 5px 20px;
            border: 1px dashed $light-text;
            width: auto;
        }
    }
}

.add-post-dialog {
    width: 70%;
}

.add-post-dialog-wrapper {
    padding-top: 20px;
}

.nearby-tutors-component {
    i {
        margin-right: 10px;
    }

    .tutor-info-head {
        padding-bottom: 15px;
    }
    .tutor-info-head h4.tutor-name {
        margin: 0;
        font-weight: bold;
        font-size: large;
    }

    .tutor-courses h6 {
        font-size: small;
        font-weight: bold;
        color: #5a5a5a;
    }

    p.expert-course {
        font-size: small;
        font-weight: 600;
        color: #424242;
    }

    .user-image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    p.tutor-contact-links {
        display: flex;
        font-weight: bold;
        font-size: small;
        color: #5a5a5a;
    }

    .contact-link-wrapper {
        margin-left: 10px;

        a {
            color: #5a5a5a;
        }
    }

    .sidebar-header h5 {
        font-size: medium;
        font-weight: bold;
    }

    .sidebar-header {
        padding: 15px 5px;
        margin-bottom: 35px;
        border-bottom: 1px solid #dddddd;
    }

    .tutor-action-wrapper {
        p {
            text-align: center;
            color: $dark-text;
            font-weight: bold;
            font-size: small;
            padding: 10px 5px;
            cursor: pointer;
            box-shadow: 0 0 15px #d1d1d1;
            border-radius: 5px;

            i {
                margin-right: 10px;
            }
        }
    }
}

.p-dialog.p-component.quote-dialog {
    width: 60vw;
}

.requested-quote-component {
    .quote-row td {
        padding: 15px 0px;
        font-weight: 500;
        vertical-align: top;

        .quote-status {
            font-size: small;
            padding: 5px;
            text-align: center;
            margin: 5px 10px;
            border-radius: 15px;
            color: white;
        }

        .duration-wrapper {
            font-size: small;
            padding: 5px;
            i {
                margin-right: 5px;
            }
        }

        .quote-description {
            color: grey;
            overflow-wrap: break-word;
            max-width: 200px;
        }

        .quote-status.status-0 {
            background-color: $placed-color;
        }
        .quote-status.status-1 {
            background-color: $replied-color;
        }
        .quote-status.status-2 {
            background-color: $accepted-color;
        }
        .quote-status.status-3 {
            background-color: $rejected-color;
        }
    }

    .quote-row td.price-column {
        font-weight: bold;
        font-size: large;
        padding: 20px 30px;
    }

    .quote-table-head th.table-head-cell {
        padding: 15px 0px;
        border-bottom: 1px #d7d7d7 solid;
        vertical-align: top;
    }

    .requested-quote-card {
        padding: 30px;
    }

    .card-heading {
        padding: 0;
        font-size: larger;
        font-weight: bolder;
        color: grey;
        margin-bottom: 30px;
    }
}

.add-post-form {
    .attachment-input {
        position: relative;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .upload-attachment-wrapper {
        padding: 20px;
        width: 100%;
        border: 1px solid $light-border;
        height: 100%;
        text-align: center;
        border-radius: 5px;

        i {
            margin-right: 20px;
        }

        p {
            text-align: center;
            font-weight: bold;
            color: $light-text;
            padding: 5px 20px;
            border: 1px dashed $light-text;
            width: auto;
        }
    }

    .editor-control {
        .p-editor-content .ql-editor {
            min-height: 200px;
        }
    }
}

.view-user-component {
    span.user-type-badge {
        padding: 2px 5px;
        border-radius: 5px;
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    span.user-type-badge.user-type-student {
        background: $student-type;
    }

    span.user-type-badge.user-type-admin {
        background: $admin-type;
    }

    .tutor-status {
        padding: 5px;
        border-radius: 5px;
        display: inline-block;
        width: 70%;
        margin-left: 15%;
        color: $light-color;
    }

    .tutor-status.listed-tutor {
        color: $success-color-dark;
    }

    .tutor-status.not-tutor {
        color: $failure-color-dark;
    }

    .tutor-status.applied-tutor {
        color: $pending-color;
    }
}

.sidebar-wrapper {
    position: fixed;
    width: 24%;
    height: 100vh;
}

.sidebar-wrapper,
.chat-sidebar-wrapper,
.chat-messages-window {
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #cccccc;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(189, 189, 189);
    }
}

.sidebar {
    padding: 10px 30px;
    height: 100vh;
    background-color: $light-color;
    // box-shadow: $card-shadow;
    margin-bottom: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
    // border-radius: 5px;

    .app-logo {
        width: 130px;
    }

    .user-text-wrapper {
        margin-left: 30px;
    }

    .user-info {
        display: flex;
        width: 100%;
        background: #f1f1f1;
        padding: 0px 10px;
        border-radius: 10px;
        align-items: center;
    }

    .user-info {
        .user-image-wrapper {
            // background-color: $primary;
            width: 50px;
            height: 50px;
        }

        .user-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px white solid;
        }

        .user-name {
            font-weight: bold;
            margin: 0px;
            margin-top: 20px;
        }

        .user-degree {
            font-size: small;
        }
    }

    hr {
        color: #9c9c9c;
        margin: 10px;
    }

    .sidebar-link:hover {
        color: $primary;
        // color: $dark-text;
        // color: white;
        transition-duration: 300ms;
    }

    p.sidebar-link-title {
        color: grey;
        padding-left: 20px;
        font-weight: bold;
        margin: 0px;
    }

    .sidebar-link {
        cursor: pointer;
        display: flex;
        padding: 10px 20px;
        margin-top: 5px;
        color: $light-text;
        align-items: center;

        p.sidebar-link-label {
            margin: 0;
            margin-left: 20px;
        }
    }

    .become-tutor-heading {
        font-weight: bold;
        font-size: large;
    }

    .become-tutor-desc {
        font-size: small;
    }

    .become-tutor-button {
        width: 100%;
        padding: 10px;
        color: $light-color;
        font-weight: bold;
        border-radius: 10px;
        box-shadow: $small-shadow;
    }

    .single-filter {
        padding: 10px;
        margin: 20px 0px;
        border-radius: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        box-shadow: $small-shadow;
        cursor: pointer;

        p {
            margin: 0px;
            text-align: left;
            display: inline-block;
        }
    }

    .filter-circle {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
    }

    .single-filter:hover {
        color: $light-color;
        transition-duration: 300ms;

        .filter-circle {
            background-color: $light-color;
        }
    }

    .single-filter.question-filter:hover {
        background-color: $question-color-dark;
    }

    .single-filter.resource-filter:hover {
        background-color: $resource-color-dark;
    }

    .filter-circle.question-filter-color {
        background-color: $question-color-dark;
    }

    .filter-circle.resource-filter-color {
        background-color: $resource-color-dark;
    }
}

.post-details-component {
    .post-details-card {
        padding: 40px;
        box-shadow: $card-shadow;
        border-radius: 5px;
        background: $light-color;
    }

    .posted-by-image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .title-and-poster {
        padding-left: 30px;
    }

    .post-votes {
        padding-right: 30px;
        border-right: 1px $light-border solid;
    }

    .votes-count {
        font-size: x-large;
        font-weight: bold;
    }

    .vote-icon {
        font-size: x-large;
        color: $light-text;
        padding: 0px;
        margin: 0;
        line-height: 0;
    }

    .post-heading {
        font-size: x-large;
        font-weight: bold;
        text-align: left;
    }

    .post-image {
        width: 80%;
    }

    .post-details {
        padding-top: 30px;
    }

    .post-description {
        text-align: left;
        padding-bottom: 30px;
    }

    .replies-card {
        box-shadow: $card-shadow;
        padding: 20px 30px;
        margin-top: 30px;
        border-radius: 5px;
        background: $light-color;
    }

    .replies-card-heading {
        font-size: x-large;
        font-weight: bold;
        text-align: left;
    }

    .reply-votes-count {
        margin: 0px;
        font-size: large;
    }

    .reply-vote-icon {
        margin: 0 10px;
    }

    .replier-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .single-reply-wrapper {
        margin-top: 10px;
    }

    .replier-name-and-time {
        margin-left: 20px;
        padding-bottom: 10px;
    }

    .replier-name {
        font-weight: bold;
        text-align: left;
        margin: 0;
    }

    .reply-time {
        margin: 0;
        font-size: small;
    }

    .reply-text {
        text-align: justify;
    }

    .post-reply-heading {
        font-weight: bold;
        font-size: large;
    }

    .post-resource-wrapper {
        text-align: left;

        button {
            i {
                margin-right: 10px;
            }
        }
    }
}

.job-feed-sidebar {
    box-shadow: $card-shadow;
    padding: 20px 10px;
    background: $light-color;
    border-radius: 5px;

    .job-feed-heading {
        font-size: large;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;

        span {
            margin-right: 5px;
        }
    }

    .sidebar-single-job-wrapper {
        hr {
            margin: 3px;
            padding: 0;
        }
    }

    .sidebar-single-job {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .sidebar-single-job:hover {
        box-shadow: $small-shadow;
        border-radius: 10px;
        transition-duration: 300ms;
        cursor: pointer;
    }

    p {
        margin: 0;
    }

    .job-title {
        font-weight: bold;
    }

    .job-time {
        font-size: small;
        color: $light-text;
    }

    .budget-wrapper {
        font-weight: bold;
    }
}

.marker {
    border-radius: 50% 50% 0 50%;
    background: red;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    width: 30px;
    height: 30px;
}

.bold {
    font-weight: bold;
}

p {
    text-align: left;
}

p.center {
    text-align: center;
}

.text-left,
p.left {
    text-align: left;
}

.primary-color {
    background-color: $primary;
    border: 0px;
}

.primary-button {
    background-color: $primary;
    color: $light-color;
}

.primary-gradient {
    background: linear-gradient(to left, $primary, $primary-dark);
    color: $light-color;
    border: 0;
}

.single-control {
    width: 100%;

    .p-dropdown-label.p-placeholder {
        text-align: left;
    }
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.full-height {
    height: 100%;
}

.c-pointer {
    cursor: pointer;
}

.sp-20 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.attachment-input {
    position: relative;
    top: -62px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.upload-attachment-wrapper {
    padding: 20px;
    width: 100%;
    border: 1px solid $light-border;
    height: 100%;
    text-align: center;
    border-radius: 5px;

    i {
        margin-right: 20px;
    }

    p {
        text-align: center;
        font-weight: bold;
        color: $light-text;
        padding: 5px 20px;
        border: 1px dashed $light-text;
        width: auto;
    }
}

.padge-heading {
    color: $dark-text;
    text-align: left;
    margin-bottom: 20px;
    // border-bottom: 2px $dark-text solid;
    // padding-bottom: 30px;
    // width: 50%;
}

.user-page-bg {
    background-image: url("https://res.cloudinary.com/studentassister/image/upload/v1630523109/612fcea0e5673_ndk1pq.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.bg-overlay {
    background: rgba(255, 255, 255, 0.623);
}

.section-heading {
    color: $dark-text;
    text-align: left;
    margin-bottom: 30px;
}

.profile-buttons-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

button.profile-btn {
    margin-left: 20px;
}

.signup-component {
    .signed-up-message {
        p {
            text-align: center;
        }

        .success-heading {
            span {
                margin-right: 20px;
                font-size: large;
            }

            font-size: larger;
            font-weight: bold;
        }

        .success-description {
            color: $light-text;
        }

        button {
            margin-top: 30px;
        }
    }
}

.login-card-div,
.signup-card-div {
    min-height: 100vh;
}

.sidebar-user-section {
    margin-bottom: 20px;
}

.signup-card,
.login-card {
    box-shadow: $card-shadow;
    padding: 40px;
    border-radius: 10px;
    background: $light-color;
    color: $dark-text;

    .p-inputtext {
        width: 100%;
    }

    .sign-up-message,
    .login-message {
        font-size: small;
        color: $light-text;
        text-align: center;

        span {
            margin-left: 10px;
            color: $primary;
            cursor: pointer;
        }
    }
}

.table-card {
    box-shadow: $card-shadow;
    padding: 20px;
    border-radius: 5px;
    background: $light-color;
}

.switch-field {
    display: flex;
    justify-content: space-between;
}

.progress-div {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background-color: $progress-bg;
}
